
.greeting {
  background-image: url(../../assets/top-img.jpg);
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-position: bottom;
}

.account-card {
  margin-top: -75px;
}

.transaction-history {
  margin-bottom: 75px;
}

.button-container {
  display: flex;
  justify-content: center;  /* Căn giữa theo chiều ngang */
  margin: 20px;
}

/* button-87 - Gradient glowing button */
.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}
