.layout-default {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-size: cover;
  background-position: center; /* Căn giữa hình nền */

  &.morning {
    background-image: url(../../assets/home-bg-morning.jpg);
    background-size: cover;
    background-position: center;
  }

  &.night {
    background-image: url(../../assets/home-bg-night.jpg);
    background-size: cover;
    background-position: center;
  }

  &.other-pages {
    background-color: #4CAF50; /* Màu xanh cho các trang khác */
  }

  /* Header */
  &__header {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  &__logo {
    display: flex;
    align-items: center;
    .logo-link {
      display: inline-block;
    }

    img {
      width: 50px; /* Điều chỉnh kích thước logo */
      height: auto;
    }
  }

  &__account {
    display: flex;
    align-items: center;
  }

  &__account .ml-10 {
    margin-left: 10px;
  }

  &__main {
    flex: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Bóng đổ cho main */
  }

  &__footer {
    background: transparent;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  /* Chỉnh sửa NavLink khi là buổi tối */
  &.night .nav-link {
    color: white; /* Màu chữ trắng cho NavLink khi buổi tối */
  }

  /* Chỉnh sửa màu nền của NavLink khi hover */
  &.night .nav-link:hover {
    color: #1890ff; /* Màu chữ xanh khi hover */
    background-color: rgba(24, 144, 255, 0.1); /* Nền xanh nhạt khi hover */
    padding: 12px 18px; /* Thêm padding khi hover */
    border-radius: 25px; /* Viền tròn khi hover */
  }
}

.layout-default__nav {
  display: flex;
  justify-content: center;
  flex-grow: 1; /* Chiếm toàn bộ không gian còn lại giữa logo và tài khoản */
}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  margin: 0 15px;
  text-decoration: none;
  color: #333; /* Màu chữ mặc định */
  padding: 10px 15px; /* Thêm padding để tạo khoảng cách */
  border-radius: 20px; /* Viền tròn cho link */
  transition: all 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt mà */

  &:hover {
    color: #1890ff; /* Màu khi hover */
    background: white; /* Màu nền khi hover */
    padding: 12px 18px; /* Thêm padding khi hover */
    border-radius: 25px; /* Làm tròn góc khi hover */
  }
}
